<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
  </head>
  <body>
    <h1>Productos</h1>
    <%- include('./partials/nav') %>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <% productos.forEach(producto => { %>
        <tr>
          <td><%= producto.id %></td>
          <td><%= producto.nombre %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
